<?xml version="1.0" encoding="UTF-8" ?>
<?eclipse version="3.0"?>

<plugin>
       <extension point="org.eclipse.imp.runtime.languageDescription">
          <language extensions="ent" description="Entity" language="Entity" derivedFrom="DynamicRoot" validator="entity.EntityValidator" validatorClass="entity.EntityValidator"></language>
       </extension>
       <extension id="entity.parser" name="Entity Parser" point="org.eclipse.imp.runtime.parser">
          <parser class="entity.EntityParseController" language="Entity">
          </parser>
       </extension>    
    </plugin>